{% extends 'base.html.twig' %}

{% block title %}Produtos{% endblock %}

{% block body %}

<h1>PRODUTOS</h1>
<a href="{{path('product_new')}}">New Product</a>

<div class="example-wrapper">
    <div class="table-responsive">
        <table     class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Tamanho</th>

                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td scope="row">{{product.id}}</td>
                    <td scope="row"><a href="{{ path('product_show', {'id': product.id}) }}">{{product.name}}</a></td>
                    <td scope="row">{{product.description}}</td>
                    <td scope="row">{{product.size}}</td>

                </tr>

            {% endfor %}
                
            </tbody>
        </table>  
    </div>
    
</div>
{% endblock %}
